In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from glob import glob
import datetime

In [71]:
dflist = sorted(glob('./data/*.csv'), reverse=False)
df = pd.DataFrame()

In [72]:
for i in dflist:
    data = pd.read_csv(i, header=None)
    df = df.append(data)
df.columns = ['id', 'date', 'category', 'price', 'comment']

In [73]:
df.head()

   id       date category  price  comment
0  20  2020/11/7        車   3000     免許更新
1  19  2020/11/6      医療費   6120  白山レディース
2  18  2020/11/6       食費   1960    ルミネ弁当
3  17  2020/11/6      交通費   8000     チャージ
4  16  2020/11/4      日用品   2980     ダイソー

In [76]:
sum = df.groupby('category').sum()

In [79]:
mean = sum['price']/6

In [80]:
mean

category
うさぎ     14868.000000
その他     55375.333333
交通費    104776.666667
光熱費     15032.000000
医療費     22835.000000
収入     365305.500000
家賃     130000.000000
日用品     11368.833333
美容       7141.666667
課金系      3207.000000
車       14413.500000
通信費      2595.333333
食費      51967.333333
Name: price, dtype: float64

In [83]:
mean[0] + mean[1] + (mean[2] -74000 ) +mean[3] + mean[4] + (mean[6]-52000) + mean[7] + mean[8] + mean[9] + mean[10] + mean[11] + mean[12]

307580.6666666667

In [84]:
mean[0] + mean[1] + mean[3] + mean[4]  + mean[7] + mean[8] + mean[9] + mean[10] + mean[11] + mean[12]

198804.00000000003

In [64]:
print(pd.to_datetime(df_november_2020['date'][1], format='%Y-%m-%d'))

2020-11-06 00:00:00