In [5]:
import MySQLdb

In [16]:
# 接続する
conn = MySQLdb.connect(
    unix_socket = '/Applications/MAMP/tmp/mysql/mysql.sock',
    user='sota',
    passwd='1993Vivahelium',
    host='localhost',
    db='kakeibo',
    #use_unicodeはなくても日本語取り出せた
    use_unicode=True,
    charset="utf8")
cur = conn.cursor()
sql = "SELECT * FROM december_2020"
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

# 接続を閉じる
cur.close
conn.close

(1, datetime.date(2020, 12, 1), '家賃', 130000, '家賃')
(2, datetime.date(2020, 12, 1), '車', 8000, '駐車場代')
(3, datetime.date(2020, 12, 1), '交通費', 74000, '定期代')
(4, datetime.date(2020, 12, 1), '車', 400, '駐輪場代')
(5, datetime.date(2020, 12, 1), '交通費', 2000, '駐輪場代(大宮駅)')
(8, datetime.date(2020, 12, 1), '課金系', 1880, 'iTunes、iCloud')
(9, datetime.date(2020, 12, 1), '食費', 500, '昼ごはん')
(10, datetime.date(2020, 12, 2), '食費', 170, 'コンビニ珈琲')
(11, datetime.date(2020, 12, 2), '日用品', 1670, '化粧品')
(12, datetime.date(2020, 12, 3), 'その他', 3030, '須賀の誕プレ')
(15, datetime.date(2020, 12, 5), '通信費', 2520, 'LINEモバイル')
(16, datetime.date(2020, 12, 3), 'その他', 1000, '須賀とランチ')
(18, datetime.date(2020, 12, 3), 'その他', 420, '須賀とスタバ')
(19, datetime.date(2020, 12, 4), '食費', 170, 'コンビニ珈琲')
(20, datetime.date(2020, 12, 4), '食費', 170, 'コンビニ珈琲')
(21, datetime.date(2020, 12, 6), '交通費', 8000, 'チャージ')
(22, datetime.date(2020, 12, 6), '収入', 5000, '絢子レッスン')
(23, datetime.date(2020, 12, 6), '収入', 10000, '飯沼レッスン')
(24, datetime.date(2020, 12, 6), '収入', 10000, 'アリソンレッスン')
(25, datetime.date(2020, 12, 6), '交通費', 3200, '高速代')
(26, datetime.date(2020, 12, 7), '医療費', 2070, 'ロバ')
(27, datetime.date(2020, 12, 7), '医療費', 7720, '白山レディース')
(28, datetime.date(2020, 12, 7), '食費', 320, 'お茶')
(29, datetime.date(2020, 12, 7), '食費', 5160, 'ok')
(30, datetime.date(2020, 12, 5), '日用品', 16790, 'IKEA')
(31, datetime.date(2020, 12, 5), '食費', 2270, 'IKEA昼食')
(32, datetime.date(2020, 12, 5), 'その他', 900, 'IKEAお土産')
(33, datetime.date(2020, 12, 5), '車', 4070, 'ガソリン代')
(34, datetime.date(2020, 12, 5), 'その他', 10670, 'ビームス')
(35, datetime.date(2020, 12, 5), 'その他', 11440, 'ユナイテッドアローズ')
(36, datetime.date(2020, 12, 3), '美容', 9800, '詩乃美容院')
(37, datetime.date(2020, 12, 11), '交通費', 8000, 'チャージ')
(38, datetime.date(2020, 12, 12), '食費', 1309, 'からやま')
(39, datetime.date(2020, 12, 9), '食費', 1080, 'お菓子@ルミネ')
(40, datetime.date(2020, 12, 9), '日用品', 660, 'マスク')
(41, datetime.date(2020, 12, 11), '食費', 972, 'ケーキ')
(42, datetime.date(2020, 12, 9), '食費', 849, '')
(43, datetime.date(2020, 12, 11), '食費', 2112, '魚べい')
(44, datetime.date(2020, 12, 11), '食費', 450, 'コメダ')
(45, datetime.date(2020, 12, 11), '日用品', 2490, '無印')
(46, datetime.date(2020, 12, 13), '食費', 600, 'お菓子')
(47, datetime.date(2020, 12, 12), 'その他', 3800, '停車場')
(48, datetime.date(2020, 12, 13), '医療費', 4440, '検査代')
(49, datetime.date(2020, 12, 13), '食費', 550, '吉野家')
(50, datetime.date(2020, 12, 14), 'その他', 920, 'すーちゃんとお茶')
(51, datetime.date(2020, 12, 14), 'その他', 4440, 'ママンお歳暮')
(52, datetime.date(2020, 12, 14), '食費', 3780, 'OK')
(53, datetime.date(2020, 12, 14), '医療費', 1650, '白山レディース')
(54, datetime.date(2020, 12, 16), '交通費', 8000, 'チャージ')
(55, datetime.date(2020, 12, 10), '通信費', 2520, 'LINEモバイル')
(56, datetime.date(2020, 12, 18), '食費', 900, 'ランチ')
(57, datetime.date(2020, 12, 18), '食費', 900, 'ランチ')
(58, datetime.date(2020, 12, 19), '食費', 275, 'ドトール')
(59, datetime.date(2020, 12, 19), '美容', 2750, '美容室')
(60, datetime.date(2020, 12, 19), '食費', 843, 'ダイエー')
(61, datetime.date(2020, 12, 17), 'その他', 1580, '温泉')
(62, datetime.date(2020, 12, 19), '光熱費', 6716, '水道代')
(63, datetime.date(2020, 12, 19), '日用品', 1868, 'ダイソー')
(64, datetime.date(2020, 12, 13), 'その他', 22360, 'お歳暮')
(65, datetime.date(2020, 12, 22), '食費', 7118, 'OK')
(66, datetime.date(2020, 12, 22), '食費', 2750, 'デニーズ')
(67, datetime.date(2020, 12, 23), 'その他', 5600, 'ビールとか')
(68, datetime.date(2020, 12, 23), '医療費', 2000, '白山レディース')
(69, datetime.date(2020, 12, 25), '収入', 343000, '給料そそ')
(70, datetime.date(2020, 12, 25), '食費', 660, 'ダイソー')
(71, datetime.date(2020, 12, 25), '光熱費', 8141, 'ガス電気')
(72, datetime.date(2020, 12, 26), 'その他', 1500, '野球')
(73, datetime.date(2020, 12, 25), '食費', 2300, 'うお米')
(74, datetime.date(2020, 12, 26), '食費', 770, 'コンビニ昼飯')
(75, datetime.date(2020, 12, 27), '交通費', 5000, '高速代')
(76, datetime.date(2020, 12, 27), 'その他', 3000, 'サミンズ忘年会')
(77, datetime.date(2020, 12, 27), '車', 4700, 'ガソリン代')
(78, datetime.date(2020, 12, 26), '食費', 770, 'コンビニ昼飯')
(79, datetime.date(2020, 12, 26), '食費', 770, 'コンビニ昼飯')
(80, datetime.date(2020, 12, 30), '食費', 1000, 'やぎめんと')
(81, datetime.date(2020, 12, 30), 'その他', 1500, 'セッション')
(82, datetime.date(2020, 12, 31), '食費', 980, 'コメダ')
(83, datetime.date(2020, 12, 31), '食費', 4777, 'イトヨー')
(90, datetime.date(2020, 12, 28), '医療費', 2000, '白山レディース')
(91, datetime.date(2020, 12, 31), '日用品', 1090, 'GU')
(92, datetime.date(2020, 12, 30), 'その他', 330, 'ダイソー')
(93, datetime.date(2020, 12, 31), '日用品', 900, 'マツキヨ')
(94, datetime.date(2020, 12, 31), '食費', 3810, 'マルエツ')
(95, datetime.date(2021, 1, 29), '食費', 6610, 'みなや')
(97, datetime.date(2020, 12, 27), 'その他', 2090, 'フライングタイガー')
(98, datetime.date(2020, 12, 30), '食費', 850, 'サイゼ')
(99, datetime.date(2020, 12, 29), '交通費', 8000, 'チャージ')

In [17]:
# 接続する
conn = MySQLdb.connect(
    # unix_socket = '/Applications/MAMP/tmp/mysql/mysql.sock',
    user='sukakeibo_user',
    passwd='1993Vivahelium',
    host='mysql1.php.xdomain.ne.jp',
    db='sukakeibo_app',
    #use_unicodeはなくても日本語取り出せた
    use_unicode=True,
    charset="utf8")
cur = conn.cursor()
sql = "SELECT * FROM december_2020"
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

# 接続を閉じる
cur.close
conn.close

OperationalError: (2003, "Can't connect to MySQL server on 'mysql1.php.xdomain.ne.jp' (60)")